.ContactData {
  margin: 20px auto;
  width: 80%;
  text-align: center;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid lightgrey;
  box-sizing: border-box;
  padding: 0 20px;

  @media (min-width: 600px){
    width: 500px;
  }
}

.ContactForm input{
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
