.SideDrawer{
  position: fixed;
  width: 280px;
  max-width: 70%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 200;
  background-color: #fff;
  padding: 32px 16px;
  box-sizing: border-box;
  transition: transform .3s ease-in-out;
  //text-align: center;

  @media (min-width: 500px){
    display: none;
    //text-align: initial;
  }

  .Logo{
    margin-bottom: 32px;
  }
}

.Open{
  transform: translateX(0);
}

.Close{
  transform: translateX(-100%);
}

.DrawerToggle {
  width: 40px;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px 0;
  box-sizing: border-box;
  cursor: pointer;
}

.DrawerToggle div {
  width: 90%;
  height: 3px;
  background-color: white;
}

@media (min-width: 500px) {
  .DrawerToggle {
      display: none;
  }
}
